<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SXZG3KMHCD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-SXZG3KMHCD');
    </script>
    <meta name="title" content="Gezgin Turizm">
    <meta name="description" content="Gezgin Turizm Taşımacılık LTD.ŞTİ. İzmir'de personel taşımacılığı,öğrenci taşımacılığı ve vip taşıma hizmeti yapar.,Gezgin,Turizm,Taşımacılık,Öğrenci Taşımacılığı,Personel Taşımacılığı,VİP Taşıma,Gezgin Turizm,Gezgin Taşımacılık">
    <meta name="keywords" content="Gezgin Turizm Taşımacılık | İzmir Personel Taşımacılığı,İzmir Öğrenci Taşımacılığı,İzmir VİP Taşıma">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="Turkish">
    <meta name="revisit-after" content="1 days">
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no" />
    <meta name="author" content="Gezgin,Turizm,Taşımacılık,Öğrenci Taşımacılığı,Personel Taşımacılığı,VİP Taşıma,Gezgin Turizm,Gezgin Taşımacılık" />
    <meta name="keywords" content="Gezgin,gezginturizm.com,Turizm,Taşımacılık,Öğrenci Taşımacılığı,Personel Taşımacılığı,VİP Taşıma,Gezgin Turizm,Gezgin Taşımacılık" />
    <title>Gezgin Turizm Taşımacılık LTD.ŞTİ | İzmir Personel Taşımacılığı/Öğrenci Taşımacılığı/Vip Taşıma</title>

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">

            <!-- <h1 class="logo"><a href="index.html">Gezgin Turizm</a></h1> -->
            <a href="/Home/Index" class="logo"><img src="~/img/gezginlogo2.png" alt="" class="img-fluid"></a>

            <nav id="navbar" class="navbar">
                <ul>
                    <!--     <li><a class="active" href="index.html">Ana Sayfa</a></li> -->
                    <li><a href="/Home/OurServices">Hizmetlerimiz</a></li>
                    <li><a href="/Home/Institutional">Kurumsal</a></li>
                    <li class="dropdown">
                        <a href="#"><span>İnsan Kaynakları</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Application/WorkerWithoutVehicle">Şoförlük Başvurusu</a></li>
                            <li><a href="/Application/WorkerWithVehicle">Araç İle Şoförlük Başvurusu</a></li>
                            <li><a href="/Home/Contact">Araç İstek Başvurusu</a></li>
                        </ul>
                    </li>
                    <li><a href="/Home/Contact">İletişim</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->

    <div class="container-fluid">
        <main id="main">
            @RenderBody()
        </main>
    </div>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Gezgin Taşımacılık Otomotiv Turizm Ltd.Şti ©</h3>
            <div class="social-links">
                <a href="https://www.facebook.com/Gezgin-Taşımacılık-316221899080783" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="https://www.instagram.com/gezgintasimacilik/" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Gezgin Turizm</span></strong>. Tüm Hakları Saklıdır  - @DateTime.Now.Year
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main.js"></script>

</body>

</html>