@model Slider
@{
    ViewData["Title"] = "SliderAdd";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h2>Slider</h2>
        </div>
    </div>
</section>
<!-- End Breadcrumbs -->

<br />
<br />

@if (TempData["sDqaCXcvvswetqwQErfsdfqQDRa"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["sDqaCXcvvswetqwQErfsdfqQDRa"]
    </div>
}

<form asp-controller="ManagementPanel" asp-action="SliderAdd" method="POST" enctype="multipart/form-data">
    <div class="container">
        <div class="form-group row mt-4 mb-4">
            <label class="control-label col" for="SliderPhoto">Slider Fotoğraf</label>
            <input class="col" type="file" name="file" />
            <div class="validate"></div>
        </div>
        <div class="row">
            <input type="submit" class="btn btn-block btn-info" asp-action="SliderAdd" asp-controller="ManagementPanel" />
        </div>
        <div class="row mt-3">
            <h4 class="alert-danger">Lütfen fotoğrafın boyutlarını 1920 x 864 olarak ayarlayarak atınız.</h4>
        </div>
    </div>
</form>


